<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">   

    <!--not sure about project name yet-->
    <title>Dime Time</title>
    <!-- add favicon-->
</head>
<body>
    <!--nav bar begins-->
    <header class="container">
        <div id="logo"><img src="./images/piggy.png" alt="logo"/></div>
        
        <nav>
            <ul class="nav_links">
                <li><a href="./">About</a></li>
                <li><a href="./resources">Resources</a></li>
                <li><a href="{{go_to}}">{{login}}</a></li>
        
            </ul>
        </nav>
    </header>
	
	<!--message-->
	<center>
	<div class="money_display">
		<p>Learning: Video Hub</p>
	</div>
	</center>
	
    <!--    youtube videos-->

    <iframe width="500" height="315" src="https://www.youtube.com/embed/QQgOJoZduRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="500" height="315" src="https://www.youtube.com/embed/Dugn51K_6WA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="500" height="315" src="https://www.youtube.com/embed/HgP32I9wBmw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="500" height="315" src="https://www.youtube.com/embed/HQzoZfc3GwQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="500" height="315" src="https://www.youtube.com/embed/BCYCoZZ5H5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="500" height="315" src="https://www.youtube.com/embed/3ctoSEQsY54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>





    <!--    youtube videos ends-->