<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">   

    <!--not sure about project name yet-->
    <title>Dime Time</title>
    <!-- add favicon-->
</head>
<body>
    <!--nav bar begins-->
    <header class="container">
        <div id="logo"><img src="./images/piggy.png" alt="logo"/></div>
        
        <nav>
            <ul class="nav_links">
                <li><a href="./">About</a></li>
                <li><a href="./signup">Join us</a></li>
            </ul>
        </nav>
    </header>
<!--nav ends-->
<center>
<div class="signup">
<h1>Sign Up</h1>
<h3>Your knowledge to strong finicial literacy begins here!</h3>

<form action="./login_worker" method="get">
    <center><label for="fname">First Name</label></center>
    <input type="text" id="fname" name="fname" placeholder="">
    <center><label for="lname">Last Name</label></center>
    <input type="text" id="lname" name="lname" placeholder="">
    <center><label for="email">Email</label></center>
    <input type="text" id="email" name="email" placeholder="">
    <center><label for="password">Password</label></center>
    <input type="password" id="password" name="password" placeholder="">
    <center><label>Confirm Password</label></center>
    <input type="password" placeholder="">
	<br>
	<br>
    <button type="submit" value="Submit" class="signup_submit">Submit</button>
</form>
</div>
</center>
<p>{{message}}</p>
<p class="login2">Already have an account? <a href="./login">Login in</a> </p>







<!--footer-->

    </div>
    <button class="contactbutton2">CONTACT US</button>
</div>

<div class="linksandsuch">
    <div class="links">
        <ul class="linksheader">
            LINKS
            <li><a href="#about">About</a></li>
            <li><a href="joinus">Join Us</a></li>

        </ul>
    </div>
    <div class="contactusinfo">
        <ul class="Contactusheader">
            Have Questions?
            <li><a href="#services">
                Feel free to contact us anytime at 
                <br>dimetime@fakemail.com</a></li>
                <br>
            <li>* All images from google</li>

        </ul>
    </div>
    <!--<div class="hours">
        <ul class="linksheader">
            Hours
            <li>Monday - Friday <br>9am - 5pm</li>

        </ul> -->

</body>
</html>